@import "partials/vars";

@import "modules/top-bar";
@import "moduless/login";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $body-bg-color;
    font-family: $base-font;
}

.status-bar {
    background: url(../img/top-bar.png) no-repeat;
    width: 363px;
    height: 16px;
    margin: 0 auto;
}


.mobile-container {
    width: 375px;
    background-color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 5px;
    .main-content {
        padding: 15px;
    }
}

input {
    border: none;
}
